.steganography-l4-frame-steganogra-l4 {
  width: 1920px;
  overflow: hidden;
  max-width: 1920px;
  box-sizing: border-box;
  min-height: 1080px;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #f2f4f5;
}
.steganography-l4-image-dotted-bg-fx {
  width: 1920px;
  height: 1080px;
  margin: 0;
  display: block;
  box-sizing: border-box;
  object-fit: cover;
}
.steganography-l4-frame-p7 {
  gap: 10px;
  width: 225px;
  display: flex;
  padding: 16px 44px 15px;
  position: relative;
  max-width: 225px;
  border-top: 2px solid #f2f2f2;
  box-shadow: 0 10px 15px 0 rgba(0,0,0,.05);
  box-sizing: border-box;
  min-height: 55px;
  align-items: center;
  border-left: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  border-radius: 18px 18px 18px 18px;
  justify-content: center;
  background-image: linear-gradient(NaNdeg,#fff 0%,#f9f9f9 100%);
}
.steganography-l4-text-steganogra-e61 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.steganography-l4-text-steganogra-e62 {
  color: #959595;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-frame-oi {
  gap: 10px;
  width: 1007px;
  display: flex;
  padding: 30px 55px;
  position: relative;
  max-width: 1007px;
  border-top: 2px solid #e7e9eb;
  box-shadow: 0 28px 50px 0 rgba(8,8,8,.05);
  box-sizing: border-box;
  min-height: 294px;
  align-items: flex-start;
  border-left: 2px solid #e7e9eb;
  border-right: 2px solid #e7e9eb;
  border-bottom: 2px solid #e7e9eb;
  border-radius: 35px 35px 35px 35px;
  justify-content: flex-start;
  background-color: #fff;
}
.steganography-l4-frame-group323k {
  width: 896px;
  max-width: 896px;
  box-sizing: border-box;
  min-height: 236px;
}
.steganography-l4-text-hidden-message241 {
  width: 100%;
  max-width: 352px;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.steganography-l4-text-hidden-message242 {
  color: #080808;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-frame-t6 {
  gap: 60px;
  width: 894px;
  height: auto;
  display: flex;
  position: relative;
  max-width: 894px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.steganography-l4-text-size-xd1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.steganography-l4-text-size-xd2 {
  color: #080808;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-frame-cta-button-bz {
  gap: 178px;
  width: 780px;
  display: flex;
  padding: 19px 41px;
  position: relative;
  max-width: 780px;
  border-top: 1px solid #e7e9eb;
  box-sizing: border-box;
  min-height: 80px;
  align-items: center;
  border-left: 1px solid #e7e9eb;
  border-right: 1px solid #e7e9eb;
  border-bottom: 1px solid #e7e9eb;
  border-radius: 20px 20px 20px 20px;
  justify-content: flex-end;
  background-color: #fff;
}
.steganography-l4-text12-name-y11 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: right;
  margin-bottom: 0;
}
.steganography-l4-text12-name-y12 {
  color: #97999f;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: right;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-frame-sj {
  gap: 26px;
  width: 894px;
  height: auto;
  display: flex;
  position: relative;
  max-width: 894px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.steganography-l4-text-target9i1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.steganography-l4-text-target9i2 {
  color: #080808;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-frame-cta-button-ay {
  gap: 119px;
  width: 512px;
  display: flex;
  padding: 19px 41px;
  position: relative;
  max-width: 512px;
  border-top: 1px solid #e7e9eb;
  box-sizing: border-box;
  min-height: 80px;
  align-items: center;
  border-left: 1px solid #e7e9eb;
  border-right: 1px solid #e7e9eb;
  border-bottom: 1px solid #e7e9eb;
  border-radius: 20px 20px 20px 20px;
  justify-content: space-between;
  background-color: #fff;
}
.steganography-l4-frame-lz {
  width: fit-content;
  height: auto;
  max-width: none;
  box-sizing: border-box;
}
.steganography-l4-text-c-users-o91 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.steganography-l4-text-c-users-o92 {
  color: #97999f;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-frame-cta-button-d5 {
  gap: 10px;
  width: 247px;
  display: flex;
  padding: 22px 129px 21px 128px;
  position: relative;
  max-width: 247px;
  border-top: 1px solid #e7e9eb;
  box-shadow: 0 8px 14px 0 rgba(0,0,0,.05);
  box-sizing: border-box;
  min-height: 80px;
  align-items: center;
  border-left: 1px solid #e7e9eb;
  border-right: 1px solid #e7e9eb;
  border-bottom: 1px solid #e7e9eb;
  border-radius: 20px 20px 20px 20px;
  justify-content: center;
  background-color: #fff;
}
.steganography-l4-text-browse-lw1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.steganography-l4-text-browse-lw2 {
  color: #080808;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-frame-bn {
  width: 652px;
  height: auto;
  max-width: 652px;
  box-sizing: border-box;
}
.steganography-l4-frame0z {
  gap: 10px;
  width: 100%;
  padding: 30px;
  max-width: 652px;
  align-self: stretch;
  border-top: 2px solid #e7e9eb;
  box-shadow: 0 28px 50px 0 rgba(8,8,8,.05);
  box-sizing: border-box;
  min-height: 294px;
  align-items: flex-start;
  border-left: 2px solid #e7e9eb;
  border-right: 2px solid #e7e9eb;
  border-bottom: 2px solid #e7e9eb;
  border-radius: 35px 35px 35px 35px;
  justify-content: flex-start;
  background-color: #fff;
}
.steganography-l4-frame-group336t {
  width: 553px;
  max-width: 553px;
  box-sizing: border-box;
  min-height: 236px;
}
.steganography-l4-text-insert-data-ao1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.steganography-l4-text-insert-data-ao2 {
  color: #080808;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-frame-group38-pl {
  width: 553px;
  max-width: 553px;
  box-sizing: border-box;
  min-height: 80px;
}
.steganography-l4-text-cryptograp0a1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.steganography-l4-text-cryptograp0a2 {
  color: #080808;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-frame-cta-button-zn {
  gap: 119px;
  width: 319px;
  display: flex;
  padding: 19px 41px;
  position: relative;
  max-width: 319px;
  border-top: 1px solid #e7e9eb;
  box-sizing: border-box;
  min-height: 80px;
  align-items: center;
  border-left: 1px solid #e7e9eb;
  border-right: 1px solid #e7e9eb;
  border-bottom: 1px solid #e7e9eb;
  border-radius: 20px 20px 20px 20px;
  justify-content: space-between;
  background-color: #fff;
}
.steganography-l4-text5c1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.steganography-l4-text5c2 {
  color: #97999f;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-frame-group399f {
  width: 553px;
  max-width: 553px;
  box-sizing: border-box;
  min-height: 80px;
}
.steganography-l4-text-scrambling-b-qa1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.steganography-l4-text-scrambling-b-qa2 {
  color: #080808;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-frame-cta-button-f9 {
  gap: 119px;
  width: 319px;
  display: flex;
  padding: 19px 41px;
  position: relative;
  max-width: 319px;
  border-top: 1px solid #e7e9eb;
  box-sizing: border-box;
  min-height: 80px;
  align-items: center;
  border-left: 1px solid #e7e9eb;
  border-right: 1px solid #e7e9eb;
  border-bottom: 1px solid #e7e9eb;
  border-radius: 20px 20px 20px 20px;
  justify-content: space-between;
  background-color: #fff;
}
.steganography-l4-text-cc1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.steganography-l4-text-cc2 {
  color: #97999f;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-frame-group371z {
  width: 1680px;
  max-width: 1680px;
  box-sizing: border-box;
  min-height: 452px;
}
.steganography-l4-frame-rectangle2-on {
  width: 1680px;
  height: 452px;
  border-top: 2px solid #e7e9eb;
  box-shadow: 0 28px 50px 0 rgba(8,8,8,.05);
  box-sizing: border-box;
  border-left: 2px solid #e7e9eb;
  border-right: 2px solid #e7e9eb;
  border-bottom: 2px solid #e7e9eb;
  border-radius: 35px 35px 35px 35px;
  background-color: #fff;
}
.steganography-l4-frame-group341c {
  width: 1599px;
  max-width: 1599px;
  box-sizing: border-box;
  min-height: 81px;
}
.steganography-l4-frame-zk {
  width: fit-content;
  height: auto;
  max-width: none;
  box-sizing: border-box;
}
.steganography-l4-frame-cta-button-oj {
  gap: 10px;
  width: 247px;
  display: flex;
  padding: 22px 129px 21px 128px;
  position: relative;
  max-width: 247px;
  border-top: 1px solid #e7e9eb;
  box-shadow: 0 8px 14px 0 rgba(0,0,0,.05);
  box-sizing: border-box;
  min-height: 80px;
  align-items: center;
  border-left: 1px solid #e7e9eb;
  border-right: 1px solid #e7e9eb;
  border-bottom: 1px solid #e7e9eb;
  border-radius: 20px 20px 20px 20px;
  justify-content: center;
  background-color: #fff;
}
.steganography-l4-text-add-carriers811 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.steganography-l4-text-add-carriers812 {
  color: #080808;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-frame-w7 {
  gap: 26px;
  width: fit-content;
  height: auto;
  display: flex;
  position: relative;
  max-width: none;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.steganography-l4-frame-group31-rl {
  width: 239px;
  max-width: 239px;
  box-sizing: border-box;
  min-height: 30px;
}
.steganography-l4-text1234-bytes-dt1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.steganography-l4-text1234-bytes-dt2 {
  color: #080808;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-text-selected-total-wx1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.steganography-l4-text-selected-total-wx2 {
  color: #464646;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-frame-cta-button4b {
  gap: 10px;
  width: 247px;
  display: flex;
  padding: 22px 129px 21px 128px;
  position: relative;
  max-width: 247px;
  border-top: 1px solid #e7e9eb;
  box-shadow: 0 8px 14px 0 rgba(0,0,0,.05);
  box-sizing: border-box;
  min-height: 80px;
  align-items: center;
  border-left: 1px solid #e7e9eb;
  border-right: 1px solid #e7e9eb;
  border-bottom: 1px solid #e7e9eb;
  border-radius: 20px 20px 20px 20px;
  justify-content: center;
  background-color: #fff;
}
.steganography-l4-text-reset-options-fc1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.steganography-l4-text-reset-options-fc2 {
  color: #080808;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-frame-cta-button-g2 {
  gap: 10px;
  width: 247px;
  display: flex;
  padding: 22px 129px 21px 128px;
  position: relative;
  max-width: 247px;
  border-top: 1px solid #000;
  box-shadow: 0 8px 14px 0 rgba(0,0,0,.25);
  box-sizing: border-box;
  min-height: 80px;
  align-items: center;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-radius: 20px 20px 20px 20px;
  justify-content: center;
  background-image: linear-gradient(NaNdeg,#000 0%,#464646 100%);
}
.steganography-l4-text-convert511 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.steganography-l4-text-convert512 {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-frame-group36-fa {
  width: 630px;
  max-width: 630px;
  box-sizing: border-box;
  min-height: 247px;
}
.steganography-l4-frame-cta-button-wv {
  gap: 119px;
  width: 629px;
  padding: 19px 41px;
  max-width: 629px;
  border-top: 1px solid #e7e9eb;
  box-sizing: border-box;
  min-height: 50px;
  align-items: center;
  border-left: 1px solid #e7e9eb;
  border-right: 1px solid #e7e9eb;
  border-bottom: 1px solid #e7e9eb;
  border-radius: 15px 15px 15px 15px;
  justify-content: space-between;
  background-color: #fff;
}
.steganography-l4-text-jpg-at1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.steganography-l4-text-jpg-at2 {
  color: #97999f;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-text25723-lu1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.steganography-l4-text25723-lu2 {
  color: #97999f;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-vector-group30-vm {
  width: 68px;
  margin: 0;
  display: block;
  max-width: 68px;
  box-sizing: border-box;
  min-height: 34px;
}
.steganography-l4-frame-cta-button-cn {
  gap: 119px;
  width: 630px;
  padding: 19px 41px;
  max-width: 630px;
  border-top: 1px solid #e7e9eb;
  box-sizing: border-box;
  min-height: 50px;
  align-items: center;
  border-left: 1px solid #e7e9eb;
  border-right: 1px solid #e7e9eb;
  border-bottom: 1px solid #e7e9eb;
  border-radius: 15px 15px 15px 15px;
  justify-content: space-between;
  background-color: #fff;
}
.steganography-l4-text-jpg-no1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.steganography-l4-text-jpg-no2 {
  color: #97999f;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-text25723-ql1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.steganography-l4-text25723-ql2 {
  color: #97999f;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-vector-group307t {
  width: 68px;
  margin: 0;
  display: block;
  max-width: 68px;
  box-sizing: border-box;
  min-height: 34px;
}
.steganography-l4-frame-cta-button-hq {
  gap: 119px;
  width: 630px;
  padding: 19px 41px;
  max-width: 630px;
  border-top: 1px solid #e7e9eb;
  box-sizing: border-box;
  min-height: 50px;
  align-items: center;
  border-left: 1px solid #e7e9eb;
  border-right: 1px solid #e7e9eb;
  border-bottom: 1px solid #e7e9eb;
  border-radius: 15px 15px 15px 15px;
  justify-content: space-between;
  background-color: #fff;
}
.steganography-l4-text-jpg-sr1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.steganography-l4-text-jpg-sr2 {
  color: #97999f;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-text257233s1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.steganography-l4-text257233s2 {
  color: #97999f;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-vector-group30-kl {
  width: 68px;
  margin: 0;
  display: block;
  max-width: 68px;
  box-sizing: border-box;
  min-height: 34px;
}
.steganography-l4-text-name-vs1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.steganography-l4-text-name-vs2 {
  color: #080808;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-text-bytes9q1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.steganography-l4-text-bytes9q2 {
  color: #080808;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-frame-cta-button0u,.steganography-l4-frame-group3549 {
  width: 922px;
  max-width: 922px;
  box-sizing: border-box;
  min-height: 247px;
}
.steganography-l4-frame-cta-button0u {
  gap: 119px;
  padding: 19px 41px;
  border-top: 1px solid #e7e9eb;
  min-height: 190px;
  align-items: center;
  border-left: 1px solid #e7e9eb;
  border-right: 1px solid #e7e9eb;
  border-bottom: 1px solid #e7e9eb;
  border-radius: 15px 15px 15px 15px;
  justify-content: space-between;
  background-color: #fff;
}
.steganography-l4-text-jpg-bv1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.steganography-l4-text-jpg-bv2 {
  color: #97999f;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-text25723-mw1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.steganography-l4-text25723-mw2 {
  color: #97999f;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-text-bit-selected-mm1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.steganography-l4-text-bit-selected-mm2 {
  color: #080808;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-frame-line1-bb {
  width: 1598px;
  height: 0;
  transform: rotate(0deg);
  border-top: 2px solid #e7e9eb;
  box-sizing: border-box;
  border-left: 2px solid #e7e9eb;
  border-right: 2px solid #e7e9eb;
  border-bottom: 2px solid #e7e9eb;
}
.steganography-l4-frame-group19-kw {
  width: 1033px;
  max-width: 1033px;
  box-sizing: border-box;
  min-height: 67px;
}
.steganography-l4-text-convert-lab-de1 {
  width: 100%;
  max-width: 147px;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.steganography-l4-text-convert-lab-de2 {
  color: #080808;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Poppins",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-frame2d {
  gap: 60px;
  width: 385px;
  display: flex;
  padding: 16px 60px 15px;
  position: relative;
  max-width: 385px;
  border-top: 2px solid #dcdcdd;
  box-sizing: border-box;
  min-height: 67px;
  align-items: center;
  border-left: 2px solid #dcdcdd;
  border-right: 2px solid #dcdcdd;
  border-bottom: 2px solid #dcdcdd;
  border-radius: 20px 20px 20px 20px;
  justify-content: center;
  background-color: #fff;
}
.steganography-l4-frame-group40-zg {
  width: 74px;
  max-width: 74px;
  box-sizing: border-box;
  min-height: 30px;
}
.steganography-l4-text-tools-of1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.steganography-l4-text-tools-of2 {
  color: #080808;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-vector-li {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 17px;
  border-top: 2px solid #080808;
  box-sizing: border-box;
  max-height: 9.5px;
  border-left: 2px solid #080808;
  border-right: 2px solid #080808;
  border-bottom: 2px solid #080808;
}
.steganography-l4-text-docs-ah1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.steganography-l4-text-docs-ah2 {
  color: #080808;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}
.steganography-l4-text-github7k1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.steganography-l4-text-github7k2 {
  color: #080808;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}