.features-qp-frame-features-qp {
  width: 1920px;
  overflow: hidden;
  max-width: 1920px;
  box-sizing: border-box;
  min-height: 1080px;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #f2f4f5;
}
.features-qp-frame-background1q {
  width: 2732px;
  max-width: 2732px;
  box-sizing: border-box;
  min-height: 769px;
}
.features-qp-image-dotted-bg-cr,.features-qp-image-dotted-bg-ns {
  width: 1366px;
  height: 768px;
  margin: 0;
  display: block;
  transform: rotate(180deg);
  box-sizing: border-box;
  object-fit: cover;
}
.features-qp-frame-group17l7 {
  width: 1145px;
  max-width: 1145px;
  box-sizing: border-box;
  min-height: 233px;
}
.features-qp-frame-headline-subheadlin-g5 {
  width: 1145px;
  height: auto;
  display: flex;
  position: relative;
  max-width: 1145px;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.features-qp-text-simple-interface-d81 {
  width: 100%;
  max-width: 1049px;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.features-qp-text-simple-interface-d82 {
  color: #080808;
  font-size: 64px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: 80px;
  margin-bottom: 0;
  letter-spacing: -4px;
  text-transform: none;
  text-decoration: none;
}
.features-qp-text-no-installati271 {
  width: 100%;
  max-width: 657px;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.features-qp-text-no-installati272 {
  color: #97999f;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.features-qp-frame-tb {
  gap: 10px;
  width: 142px;
  display: flex;
  padding: 16px 44px 15px;
  position: relative;
  max-width: 142px;
  border-top: 2px solid #f2f2f2;
  box-shadow: 0 10px 15px 0 rgba(0,0,0,.05);
  box-sizing: border-box;
  min-height: 55px;
  align-items: center;
  border-left: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  border-radius: 18px 18px 18px 18px;
  justify-content: center;
  background-image: linear-gradient(NaNdeg,#fff 0%,#f9f9f9 100%);
}
.features-qp-text-features-ia1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.features-qp-text-features-ia2 {
  color: #959595;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}
.features-qp-frame-pn {
  gap: 117.5px;
  width: 1680px;
  height: auto;
  display: flex;
  position: relative;
  max-width: 1680px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.features-qp-frame-jpg-pdf-zj {
  width: 332px;
  max-width: 332px;
  box-shadow: 0 18px 50px 0 rgba(0,0,0,.05);
  box-sizing: border-box;
  min-height: 481px;
}
.features-qp-frame-cta-button8c,.features-qp-frame-rectangle3-pt {
  border-top: 2px solid #e7e9eb;
  box-sizing: border-box;
  border-left: 2px solid #e7e9eb;
  border-right: 2px solid #e7e9eb;
  border-bottom: 2px solid #e7e9eb;
  background-color: #fff;
}
.features-qp-frame-rectangle3-pt {
  width: 332px;
  height: 481px;
  border-radius: 35px 35px 35px 35px;
}
.features-qp-frame-cta-button8c {
  gap: 10px;
  width: 196px;
  display: flex;
  padding: 22px 129px 21px 128px;
  position: relative;
  max-width: 196px;
  min-height: 70px;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  justify-content: center;
}
.features-qp-text-try-now-xb1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.features-qp-text-try-now-xb2 {
  color: #080808;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.features-qp-frame76 {
  gap: 10px;
  width: 290px;
  height: auto;
  display: flex;
  position: relative;
  max-width: 290px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.features-qp-text-jpg-pdf-ho1 {
  width: 100%;
  max-width: 100%;
  align-self: stretch;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.features-qp-text-jpg-pdf-ho2 {
  color: #080808;
  font-size: 32px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.features-qp-text-convert-images471 {
  width: 100%;
  max-width: 290px;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.features-qp-text-convert-images472 {
  color: #959595;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.features-qp-vector-group47-jz {
  width: 89px;
  margin: 0;
  display: block;
  max-width: 89px;
  box-sizing: border-box;
  min-height: 111px;
}
.features-qp-frame-group49-ak,.features-qp-frame-group51-po {
  width: 332px;
  max-width: 332px;
  box-sizing: border-box;
  min-height: 481px;
}
.features-qp-frame-rectangle3-dh {
  width: 332px;
  height: 481px;
  border-top: 2px solid #e7e9eb;
  box-shadow: 0 18px 50px 0 rgba(0,0,0,.05);
  box-sizing: border-box;
  border-left: 2px solid #e7e9eb;
  border-right: 2px solid #e7e9eb;
  border-bottom: 2px solid #e7e9eb;
  border-radius: 35px 35px 35px 35px;
  background-color: #fff;
}
.features-qp-frame-group533l {
  width: 290px;
  max-width: 290px;
  box-sizing: border-box;
  min-height: 200px;
}
.features-qp-frame-cta-button-oi {
  gap: 10px;
  width: 196px;
  display: flex;
  padding: 22px 129px 21px 128px;
  position: relative;
  max-width: 196px;
  border-top: 2px solid #e7e9eb;
  box-sizing: border-box;
  min-height: 70px;
  align-items: center;
  border-left: 2px solid #e7e9eb;
  border-right: 2px solid #e7e9eb;
  border-bottom: 2px solid #e7e9eb;
  border-radius: 20px 20px 20px 20px;
  justify-content: center;
  background-color: #fff;
}
.features-qp-text-try-now7n1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.features-qp-text-try-now7n2 {
  color: #080808;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.features-qp-frame-io {
  gap: 10px;
  width: 290px;
  height: auto;
  display: flex;
  position: relative;
  max-width: 290px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.features-qp-text-rc4-encryption-ll1 {
  width: 100%;
  max-width: 100%;
  align-self: stretch;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.features-qp-text-rc4-encryption-ll2 {
  color: #080808;
  font-size: 32px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.features-qp-text-encrypt-text-wm1 {
  width: 100%;
  max-width: 290px;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.features-qp-text-encrypt-text-wm2 {
  color: #959595;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.features-qp-vector-group50-sl {
  width: 93px;
  margin: 0;
  display: block;
  max-width: 93px;
  box-sizing: border-box;
  min-height: 91px;
}
.features-qp-frame-group50-en,.features-qp-frame-group51-vi,.features-qp-frame-group52-nc {
  width: 332px;
  max-width: 332px;
  box-sizing: border-box;
  min-height: 481px;
}
.features-qp-frame-rectangle3-kh {
  width: 332px;
  height: 481px;
  border-top: 2px solid #e7e9eb;
  box-shadow: 0 18px 50px 0 rgba(0,0,0,.05);
  box-sizing: border-box;
  border-left: 2px solid #e7e9eb;
  border-right: 2px solid #e7e9eb;
  border-bottom: 2px solid #e7e9eb;
  border-radius: 35px 35px 35px 35px;
  background-color: #fff;
}
.features-qp-frame-group548s {
  width: 290px;
  max-width: 290px;
  box-sizing: border-box;
  min-height: 200px;
}
.features-qp-frame-cta-button4h {
  gap: 10px;
  width: 196px;
  display: flex;
  padding: 22px 129px 21px 128px;
  position: relative;
  max-width: 196px;
  border-top: 2px solid #e7e9eb;
  box-sizing: border-box;
  min-height: 70px;
  align-items: center;
  border-left: 2px solid #e7e9eb;
  border-right: 2px solid #e7e9eb;
  border-bottom: 2px solid #e7e9eb;
  border-radius: 20px 20px 20px 20px;
  justify-content: center;
  background-color: #fff;
}
.features-qp-text-try-now-fi1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.features-qp-text-try-now-fi2 {
  color: #080808;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.features-qp-frame-qj {
  gap: 10px;
  width: 290px;
  height: auto;
  display: flex;
  position: relative;
  max-width: 290px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.features-qp-text-steganogra1k1 {
  width: 100%;
  max-width: 100%;
  align-self: stretch;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.features-qp-text-steganogra1k2 {
  color: #080808;
  font-size: 32px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.features-qp-text-hide-messages-wd1 {
  width: 100%;
  max-width: 290px;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.features-qp-text-hide-messages-wd2 {
  color: #959595;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.features-qp-vector-steganogra-wc {
  width: 148px;
  margin: 0;
  display: block;
  overflow: hidden;
  max-width: 148px;
  box-shadow: inset -9.5px 18.329999923706055px 20.989999771118164px 0#fff,inset 13.630000114440918px -29.200000762939453px 34.2599983215332px 0 rgba(0,0,0,.38);
  box-sizing: border-box;
  min-height: 148px;
  align-items: flex-start;
  justify-content: flex-start;
}
.features-qp-frame-group51-cb,.features-qp-frame-group511a,.features-qp-frame-group52q9 {
  width: 332px;
  max-width: 332px;
  box-sizing: border-box;
  min-height: 481px;
}
.features-qp-frame-rectangle3f8 {
  width: 332px;
  height: 481px;
  border-top: 2px solid #e7e9eb;
  box-shadow: 0 8px 50px 0 rgba(0,0,0,.05);
  box-sizing: border-box;
  border-left: 2px solid #e7e9eb;
  border-right: 2px solid #e7e9eb;
  border-bottom: 2px solid #e7e9eb;
  border-radius: 35px 35px 35px 35px;
  background-color: #fff;
}
.features-qp-frame-group55-xr {
  width: 290px;
  max-width: 290px;
  box-sizing: border-box;
  min-height: 200px;
}
.features-qp-frame-cta-button47 {
  gap: 10px;
  width: 196px;
  display: flex;
  padding: 22px 129px 21px 128px;
  position: relative;
  max-width: 196px;
  border-top: 2px solid #e7e9eb;
  box-sizing: border-box;
  min-height: 70px;
  align-items: center;
  border-left: 2px solid #e7e9eb;
  border-right: 2px solid #e7e9eb;
  border-bottom: 2px solid #e7e9eb;
  border-radius: 20px 20px 20px 20px;
  justify-content: center;
  background-color: #fff;
}
.features-qp-text-try-now-t61 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.features-qp-text-try-now-t62 {
  color: #080808;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.features-qp-frame-i5 {
  gap: 10px;
  width: 290px;
  height: auto;
  display: flex;
  position: relative;
  max-width: 290px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.features-qp-text-binary-converter3k1 {
  width: 100%;
  max-width: 100%;
  align-self: stretch;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.features-qp-text-binary-converter3k2 {
  color: #080808;
  font-size: 32px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.features-qp-text-convert-text-sj1 {
  width: 100%;
  max-width: 290px;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.features-qp-text-convert-text-sj2 {
  color: #959595;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.features-qp-vector-frame-hs {
  width: 152px;
  margin: 0;
  display: block;
  overflow: hidden;
  max-width: 152px;
  box-sizing: border-box;
  min-height: 151px;
  align-items: flex-start;
  justify-content: flex-start;
}
.features-qp-frame-group19-ag {
  width: 1033px;
  max-width: 1033px;
  box-sizing: border-box;
  min-height: 67px;
}
.features-qp-text-convert-lab-lh1 {
  width: 100%;
  max-width: 147px;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.features-qp-text-convert-lab-lh2 {
  color: #080808;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Poppins",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.features-qp-frame-wi {
  gap: 60px;
  width: 385px;
  display: flex;
  padding: 16px 60px 15px;
  position: relative;
  max-width: 385px;
  border-top: 2px solid #dcdcdd;
  box-sizing: border-box;
  min-height: 67px;
  align-items: center;
  border-left: 2px solid #dcdcdd;
  border-right: 2px solid #dcdcdd;
  border-bottom: 2px solid #dcdcdd;
  border-radius: 20px 20px 20px 20px;
  justify-content: center;
  background-color: #fff;
}
.features-qp-frame-group40-hg {
  width: 74px;
  max-width: 74px;
  box-sizing: border-box;
  min-height: 30px;
}
.features-qp-text-tools6f1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.features-qp-text-tools6f2 {
  color: #080808;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}
.features-qp-vector-ve {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 17px;
  border-top: 2px solid #080808;
  box-sizing: border-box;
  max-height: 9.5px;
  border-left: 2px solid #080808;
  border-right: 2px solid #080808;
  border-bottom: 2px solid #080808;
}
.features-qp-text-docs-kd1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.features-qp-text-docs-kd2 {
  color: #080808;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}
.features-qp-text-github-pk1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.features-qp-text-github-pk2 {
  color: #080808;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}