.jpg-pdf-1-fd-frame-jpg-pdf-fd {
  width: 1920px;
  overflow: hidden;
  max-width: 1920px;
  box-sizing: border-box;
  min-height: 1080px;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #f2f4f5;
}
.jpg-pdf-1-fd-image-dotted-bg-r9 {
  width: 1920px;
  height: 1080px;
  margin: 0;
  display: block;
  box-sizing: border-box;
  object-fit: cover;
}
.jpg-pdf-1-fd-frame-group1984 {
  width: 1033px;
  max-width: 1033px;
  box-sizing: border-box;
  min-height: 67px;
}
.jpg-pdf-1-fd-text-convert-lab791 {
  width: 100%;
  max-width: 147px;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.jpg-pdf-1-fd-text-convert-lab792 {
  color: #080808;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Poppins",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.jpg-pdf-1-fd-frame-xc {
  gap: 60px;
  width: 385px;
  display: flex;
  padding: 16px 60px 15px;
  position: relative;
  max-width: 385px;
  border-top: 2px solid #dcdcdd;
  box-sizing: border-box;
  min-height: 67px;
  align-items: center;
  border-left: 2px solid #dcdcdd;
  border-right: 2px solid #dcdcdd;
  border-bottom: 2px solid #dcdcdd;
  border-radius: 20px 20px 20px 20px;
  justify-content: center;
  background-color: #fff;
}
.jpg-pdf-1-fd-frame-group401s {
  width: 74px;
  max-width: 74px;
  box-sizing: border-box;
  min-height: 30px;
}
.jpg-pdf-1-fd-text-tools091 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.jpg-pdf-1-fd-text-tools092 {
  color: #080808;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}
.jpg-pdf-1-fd-vector9d {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 17px;
  border-top: 2px solid #080808;
  box-sizing: border-box;
  max-height: 9.5px;
  border-left: 2px solid #080808;
  border-right: 2px solid #080808;
  border-bottom: 2px solid #080808;
}
.jpg-pdf-1-fd-text-docs-ba1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.jpg-pdf-1-fd-text-docs-ba2 {
  color: #080808;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}
.jpg-pdf-1-fd-text-github-xz1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.jpg-pdf-1-fd-text-github-xz2 {
  color: #080808;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}
.jpg-pdf-1-fd-frame-group220j {
  width: 1145px;
  max-width: 1145px;
  box-sizing: border-box;
  min-height: 447px;
}
.jpg-pdf-1-fd-frame-group20-eh {
  width: 406px;
  max-width: 406px;
  box-sizing: border-box;
  min-height: 130px;
}
.jpg-pdf-1-fd-text-supports-multiple-sf1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.jpg-pdf-1-fd-text-supports-multiple-sf2 {
  color: #97999f;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}
.jpg-pdf-1-fd-frame-cta-button57,.jpg-pdf-1-fd-frame3g {
  gap: 10px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
}
.jpg-pdf-1-fd-frame3g {
  width: fit-content;
  height: auto;
  max-width: none;
  justify-content: flex-start;
}
.jpg-pdf-1-fd-frame-cta-button57 {
  width: 247px;
  padding: 22px 129px 21px 128px;
  max-width: 247px;
  border-top: 1px solid #000;
  box-shadow: 0 8px 14px 0 rgba(0,0,0,.25);
  min-height: 80px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-radius: 20px 20px 20px 20px;
  justify-content: center;
  background-image: linear-gradient(NaNdeg,#000 0%,#464646 100%);
}
.jpg-pdf-1-fd-text-select-file-g81 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.jpg-pdf-1-fd-text-select-file-g82 {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.jpg-pdf-1-fd-frame-cta-button-b1 {
  gap: 10px;
  width: 80px;
  display: flex;
  padding: 22px 129px 21px 128px;
  position: relative;
  max-width: 80px;
  border-top: 1px solid #000;
  box-shadow: 0 8px 14px 0 rgba(0,0,0,.25);
  box-sizing: border-box;
  min-height: 80px;
  align-items: center;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-radius: 20px 20px 20px 20px;
  justify-content: center;
  background-image: linear-gradient(NaNdeg,#000 0%,#464646 100%);
}
.jpg-pdf-1-fd-vector-frame-wg {
  width: 40px;
  margin: 0;
  display: block;
  overflow: hidden;
  max-width: 40px;
  box-sizing: border-box;
  min-height: 40px;
  align-items: flex-start;
  justify-content: flex-start;
}
.jpg-pdf-1-fd-frame-group21-bk {
  width: 1145px;
  max-width: 1145px;
  box-sizing: border-box;
  min-height: 241px;
}
.jpg-pdf-1-fd-frame-headline-subheadlin-eh {
  width: 1145px;
  height: auto;
  display: flex;
  position: relative;
  max-width: 1145px;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.jpg-pdf-1-fd-text-jpg-pdf-n81 {
  width: 100%;
  max-width: 100%;
  align-self: stretch;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.jpg-pdf-1-fd-text-jpg-pdf-n82 {
  color: #080808;
  font-size: 94px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: 118px;
  margin-bottom: 0;
  letter-spacing: -5px;
  text-transform: none;
  text-decoration: none;
}
.jpg-pdf-1-fd-text-convert-images-c71 {
  width: 100%;
  max-width: 917px;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.jpg-pdf-1-fd-text-convert-images-c72 {
  color: #97999f;
  font-size: 28px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
.jpg-pdf-1-fd-frame-j5 {
  gap: 10px;
  width: 185px;
  display: flex;
  padding: 16px 44px 15px;
  position: relative;
  max-width: 185px;
  border-top: 2px solid #f2f2f2;
  box-shadow: 0 10px 15px 0 rgba(0,0,0,.05);
  box-sizing: border-box;
  min-height: 55px;
  align-items: center;
  border-left: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  border-radius: 18px 18px 18px 18px;
  justify-content: center;
  background-image: linear-gradient(NaNdeg,#fff 0%,#f9f9f9 100%);
}
.jpg-pdf-1-fd-text-jpg-pdf-u61 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.jpg-pdf-1-fd-text-jpg-pdf-u62 {
  color: #959595;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}